<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="jarvis">
      <directory>tests/jt2k/Jarvis/Main</directory>
    </testsuite>
    <testsuite name="responders">
      <directory>tests/jt2k/Jarvis/Responder</directory>
    </testsuite>
  </testsuites>
</phpunit>